* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 50px;
    
}

.background {
    /* background-image: url("Cookie.jpg"); */
    background-color: bisque;
    background-position: center;
    background-size: 800px;
}

.cookieClicker {
    background-image: url("Cookie.jpg");
    mix-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-size: cover;
    size: 400px;
    border-radius: 50%;
    transition: transform 0.2s ease;
    cursor: pointer;
    border-color: white;
    box-shadow:0 0 0 5px white;
    outline: none;
    border: none;
    box-shadow: none;
}

.progress-container {
    width: 100%;
    max-width: 100px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-top: 20px;
    margin:0 auto;
}

.progress-bar {
    height: 10px;
    width: 0; /* Start empty */
    background-color: rgb(72, 32, 32);
    text-align: center;
    line-height: 25px;
    color: white;
    font-weight: bold;
    transition: width 1s ease;

}

.cookieClicker:hover {
    transform: scale(1.15);
}
.cookieClicker:active {
    transform: scale(1.3);
}
.centerSection {
    margin:40px auto;
    top: 100px;
    width: 400px;
    /* border: solid; */
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5px;
    
}

.amtCookies {
    border: solid;
    background-color: grey;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: beige;
    color: black;
}
.button:hover {
    transform: scale(1.05);
    background-color: rgb(241, 241, 184);
}
.button:active {
    transform: scale(1.1);
}

.buildingHeader {
    font-weight: bold;
    /* background-color: rgb(199, 197, 197); */
    margin:0 auto;
}

.buildingSection {
    position: absolute;
    right: 0;
    top: 100px;
    width: 400px;
    border: solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.upgradeSection {
    position: absolute;
    left: 0;
    top: 100px;
    width: 400px;
    border: solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
    
.cookieGap {
    gap: 30px;
}