* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}

.background {
    /* background-image: url("Cookie.jpg"); */
    background-color: bisque;
    background-position: center;
    background-size: 800px;
}

.cookieClicker {
    background-image: url("Cookie.jpg");
    mix-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-size: cover;
    size: 400px;
    border-radius: 50%;
    transition: transform 0.2s ease;
    cursor: pointer;
    border-color: white;
    box-shadow:0 0 0 5px white;
    outline: none;
    border: none;
    box-shadow: none;
}

.cookieClicker:hover {
    transform: scale(1.15);
}

.centerSection {
    margin:40px auto;
    top: 100px;
    width: 400px;
    /* border: solid; */
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 30px;
    
}

.amtCookies {
    border: solid;
    background-color: grey;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgradeSection {
    position: absolute;
    right: 0;
    top: 100px;
    width: 400px;
    border: solid;

    display: flex;
    flex-direction: column;
    gap: 10px; 
}
    
